#map {
  height: 500px;
}
h1 {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
}
.popUpImage {
  height: 180px;
  width: 180px;
}
body {
  background-color: bisque;
}
.container {
  display: flex;
  flex-direction: column;
  float: left;
}
.carouselExampleSlidesOnly {
  height: 20px;
}
