#map {
  height: 900px;
  margin-left: 32px;
  margin-right: 32px;
}
/* #hawkerCarousel img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
} */
h1 {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.popUpImage {
  height: 180px;
  width: 180px;
}
body {
  background-color: bisque;
}
.container {
  display: flex;
  flex-direction: column;
  float: left;
}
/* .carousel-item {
  height: 100vh;
} */
